@model IEnumerable<MvcCoreProject_Arif.Models.FDR>

<h2 style="text-align:center;">FDR List Of This Customer</h2>


<table class="table table-bordered table-hover table-striped justify-content-center">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountDetails)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.OpeningDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>

                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountDetails)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.OpeningDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                <a asp-action="DeleteFDR" asp-route-id="@item.ID" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    }

</table>
